.body {
  background-color: aliceblue;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 5%;
  flex-wrap: wrap;
}

.item {
  padding: 20px;
  width: 200px;
  height: 100px;
  box-shadow: 0 1px 2px 2px grey;
  margin: 15px;
}

.item > a {
  text-decoration: none !important;
  font-size: 18px;
  color: orangered;
}